body {
    margin: 0;
}

.header {
    &__nav {
        padding: 2rem;
        display: flex;
        justify-content: space-around;
        color: #fff;
    }

    &__text {
        color:#fff;
    }
}